@use '../abstracts' as *;

.best-sellers {
    &__content {
        @include respond-to('tablet') {
            padding: px-to-rem(34) 0 px-to-rem(28);
        }

        @include respond-to('desktop') {
            flex-direction: row;
            padding: px-to-rem(32) px-to-rem(160) px-to-rem(132) px-to-rem(180);
        }
    }
}
