@use '../abstracts' as *;

.footer {
    margin-top: px-to-rem(4);
    border-top: 1px solid $color-footer-heading;
    background-color: $color-background-footer;

    &__container {
        width: 100%;
        padding: px-to-rem(16) px-to-rem(24);

        @include respond-to('tablet') {
            @include flex($justify: space-between, $align: stretch);
            padding: px-to-rem(56) px-to-rem(24);
            max-width: px-to-rem(1024);
            margin: px-to-rem(4) auto;
        }

        @include respond-to('desktop') {
            max-width: px-to-rem(1350);
            margin-top: 2px;
        }
    }

    &__brand {
        @include respond-to('tablet') {
            font-size: $size-lg;
        }
    }

    &__grid {
        display: none;

        @include respond-to('tablet') {
            @include flex($justify: space-between, $align: flex-start);

            width: px-to-rem(730);
            padding-right: px-to-rem(16);
        }

        @include respond-to('desktop') {
            width: px-to-rem(1040);
            padding-right: 0;
        }
    }

    &__column {
        @include respond-to('tablet') {
            width: px-to-rem(210);
        }

        @include respond-to('desktop') {
            width: px-to-rem(245);
            border-left: 1px solid $color-footer-heading;
            padding-left: px-to-rem(18);
            min-height: px-to-rem(394);
        }
    }

    &__heading {
        @include respond-to('tablet') {
            margin: 0 0 px-to-rem(25);
            color: $color-footer-heading;
            font-size: $size-sm;
            font-weight: $weight-regular;
        }
    }

    &__list {
        @include respond-to('tablet') {
            @include flex(
                $direction: column,
                $align: flex-start,
                $gap: px-to-rem(16)
            );
        }
    }

    &__link {
        @include respond-to('tablet') {
            @include flex($justify: flex-start, $gap: px-to-rem(8));
            color: $color-footer-text;
            font-size: $size-sm;
        }
    }

    @include respond-to('tablet') {
        margin-top: 0;
    }
}
