@use '../abstracts' as abs;

.header {
    height: abs.to-rem(80px);

    &__container {
        height: abs.to-rem(80px);
        @include abs.flex($justify: flex-start);
    }

    &__left {
        height: abs.to-rem(80px);
        @include abs.flex($justify: flex-start);
        gap: abs.to-rem(12px);
    }

    &__brand {
        @include abs.respond-to('tablet') {
            margin-right: abs.to-rem(52px);
        }
    }

    &__nav {
        position: absolute;
        top: abs.to-rem(80px);
        left: 0;
        width: abs.to-rem(300px);
        box-shadow: 0 abs.to-rem(8px) abs.to-rem(24px) rgba(0, 0, 0, 0.15);
        visibility: hidden;
        opacity: 0;
        z-index: 100;

        &.is-open {
            visibility: visible;
            opacity: 1;
        }

        @include abs.respond-to('tablet') {
            position: static;
            width: auto;
            height: abs.to-rem(80px);
            @include abs.flex($justify: flex-start);
            gap: abs.to-rem(16px);
            background-color: transparent;
            box-shadow: none;
            visibility: visible;
            opacity: 1;
        }
    }

    &__nav-link {
        display: none;
        padding: abs.to-rem(12px) abs.to-rem(16px);
        color: abs.$color-gradient-start;
        font-size: abs.$size-base;
        text-transform: uppercase;

        &:hover,
        &:focus-visible,
        &--active {
            color: abs.$color-text-inverse;
            background: abs.$gradient-primary;
        }

        @include abs.respond-to('tablet') {
            display: block;
        }
    }

    &__right {
        height: abs.to-rem(80px);
        @include abs.flex($justify: flex-end);
        gap: abs.to-rem(28px);
        margin-left: auto;
        padding-right: abs.to-rem(36px);

        @include abs.respond-to('tablet') {
            padding: 0;
            gap: abs.to-rem(64px);
        }

        @include abs.respond-to('desktop') {
            gap: abs.to-rem(124px);
        }
    }

    &__action-item--favorites {
        @include abs.respond-to('tablet') {
            display: none;
        }
    }
}
