@use '../abstracts' as *;

.header {
    height: px-to-rem(80);

    &__container {
        height: px-to-rem(80);
        @include flex($justify: flex-start);
    }

    &__left {
        height: px-to-rem(80);
        @include flex($justify: flex-start);
        gap: px-to-rem(12);
    }

    &__brand {
        @include respond-to('tablet') {
            margin-right: px-to-rem(52);
        }
    }

    &__nav {
        position: absolute;
        top: px-to-rem(80);
        left: 0;
        width: px-to-rem(300);
        box-shadow: 0 px-to-rem(8) px-to-rem(24) rgba(0, 0, 0, 0.15);
        visibility: hidden;
        opacity: 0;
        z-index: 100;

        &.is-open {
            visibility: visible;
            opacity: 1;
            background-color: $color-background-page;
        }

        @include respond-to('tablet') {
            position: static;
            width: auto;
            height: px-to-rem(80);
            @include flex($justify: flex-start);
            gap: px-to-rem(16);
            background-color: transparent;
            box-shadow: none;
            visibility: visible;
            opacity: 1;
        }
    }

    &__nav-link {
        display: none;
        padding: px-to-rem(12) px-to-rem(16);
        color: $color-gradient-start;
        font-size: $size-base;
        text-transform: uppercase;

        &:hover,
        &:focus-visible,
        &--active {
            color: $color-text-inverse;
            background: $gradient-primary;
        }

        @include respond-to('tablet') {
            display: block;
        }
    }

    &__right {
        height: px-to-rem(80);
        @include flex($justify: flex-end);
        gap: px-to-rem(28);
        margin-left: auto;
        padding-right: px-to-rem(36);

        @include respond-to('tablet') {
            padding: 0;
            gap: px-to-rem(64);
        }

        @include respond-to('desktop') {
            gap: px-to-rem(124);
        }
    }

    &__action-item--favorites {
        @include respond-to('tablet') {
            display: none;
        }
    }
}
