@use '../abstracts' as *;

.hero {
    min-height: px-to-rem(215);
    padding: px-to-rem(32) px-to-rem(24);
    background: $gradient-primary;
    color: $color-text-inverse;
    text-align: center;

    &__content {
        @include flex($justify: center, $direction: column);

        @include respond-to('tablet') {
            margin-top: px-to-rem(48);
        }
    }

    &__title {
        margin-bottom: px-to-rem(8);
        font-size: px-to-rem(18);
        font-weight: $weight-bold;

        @include respond-to('tablet') {
            font-size: px-to-rem(36);
        }
    }

    &__description {
        max-width: px-to-rem(316);
        margin-bottom: px-to-rem(24);
        font-size: $size-base;
        font-weight: $weight-medium;

        @include respond-to('tablet') {
            max-width: px-to-rem(479);
        }
    }

    &__search {
        @include flex;
        width: 100%;
        max-width: px-to-rem(380);
        height: px-to-rem(44);
        margin: 0 auto;
        padding: 0 px-to-rem(24);
        border: 1px solid $color-text-inverse;
        border-radius: px-to-rem(24);
        background: transparent;

        @include respond-to('tablet') {
            max-width: px-to-rem(476);
            height: px-to-rem(56);
        }

        @include respond-to('desktop') {
            max-width: px-to-rem(586);
        }
    }

    &__search-wrapper {
        @include flex;
        gap: px-to-rem(16);
        width: 100%;
    }

    &__search-icon {
        flex-shrink: 0;
        font-size: $size-base;

        @include respond-to('tablet') {
            font-size: $size-md;
        }
    }

    &__search-text {
        width: px-to-rem(200);
        min-width: 0;
        padding: 0;
        border: none;
        outline: none;
        background: transparent;
        color: inherit;
        font-family: $font-main;
        font-size: $size-sm;

        @include respond-to('tablet') {
            width: px-to-rem(228);
            font-size: $size-base;
        }

        &::placeholder {
            color: inherit;
            font-weight: $weight-regular;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
    }

    @include respond-to('tablet') {
        min-height: px-to-rem(325);
    }
}
