@use '../abstracts' as *;

.latest-releases {
    &__content {
        @include respond-to('tablet') {
            padding: px-to-rem(34) 0;
        }

        @include respond-to('desktop') {
            flex-direction: row;
            padding: px-to-rem(70) px-to-rem(180) px-to-rem(105);
        }
    }

    @include respond-to('desktop') {
        padding-top: px-to-rem(46);
    }
}
