@use '../abstracts' as *;

.newsletter {
    width: 100%;
    padding: px-to-rem(24);

    &__content {
        @include flex($direction: column);

        max-width: px-to-rem(381);
        margin: 0 auto;

        @include respond-to('tablet') {
            @include flex($justify: space-between);

            max-width: px-to-rem(725);
        }

        @include respond-to('desktop') {
            max-width: px-to-rem(774);
            align-items: stretch;
        }
    }

    &__info {
        width: 100%;

        @include respond-to('tablet') {
            width: px-to-rem(376);
        }
    }

    &__title {
        margin: 0 0 px-to-rem(8);
        color: $color-gradient-start;
        font-size: px-to-rem(18);
        font-weight: $weight-medium;

        @include respond-to('tablet') {
            margin-bottom: px-to-rem(16);
            font-size: $size-lg;
        }

        @include respond-to('desktop') {
            margin-bottom: px-to-rem(4);
        }
    }

    &__description {
        margin: 0;
        color: $color-gradient-start;
        font-size: $size-base;
        font-weight: $weight-light;

        @include respond-to('tablet') {
            padding-right: px-to-rem(40);
        }

        @include respond-to('desktop') {
            padding-right: 0;
        }
    }

    &__form {
        width: 100%;
        margin-top: px-to-rem(24);

        @include respond-to('tablet') {
            width: px-to-rem(327);
            margin-top: 0;
        }

        @include respond-to('desktop') {
            width: px-to-rem(350);
            margin-top: px-to-rem(20);
        }
    }

    &__input-wrapper {
        @include flex($justify: flex-start, $gap: px-to-rem(10));

        width: 100%;
        height: px-to-rem(44);
        padding: px-to-rem(10) px-to-rem(24);
        border: 1px solid $color-gradient-start;
        border-radius: px-to-rem(24);
    }

    &__icon {
        flex-shrink: 0;
        color: $color-gradient-start;
        font-size: px-to-rem(24);
    }

    &__input {
        width: 100%;
        padding: 0;
        border: 0;
        outline: 0;
        font-family: $font-main;
        font-size: $size-base;

        &::placeholder {
            color: $color-gradient-start;
        }
    }

    @include respond-to('tablet') {
        padding: px-to-rem(32) px-to-rem(24) px-to-rem(48);
    }

    @include respond-to('desktop') {
        padding: px-to-rem(64) px-to-rem(24) px-to-rem(28);
    }
}
