@use '../abstracts' as *;

.recently-visited {
    @include flex($direction: column);

    width: 100%;
    margin-top: px-to-rem(12);
    min-height: px-to-rem(295);
    padding: px-to-rem(24) 0;
    background: $gradient-primary;
    gap: px-to-rem(32);

    &__title {
        width: 100%;
        margin: 0;
        color: $color-text-inverse;
        font-family: $font-main;
        font-size: $size-base;
        font-weight: $weight-light;
        text-align: center;

        @include respond-to('tablet') {
            font-size: $size-lg;
        }

        @include respond-to('desktop') {
            font-size: $size-xl;
        }
    }

    &__topics {
        @include flex($justify: center);

        flex-wrap: wrap;
        gap: px-to-rem(16);
        max-width: px-to-rem(430);

        @include respond-to('tablet') {
            max-width: px-to-rem(900);
            min-height: px-to-rem(192);
            padding-top: px-to-rem(8);
            gap: px-to-rem(24);
        }

        @include respond-to('desktop') {
            padding-top: 0;
        }
    }

    @include respond-to('tablet') {
        margin-top: 0;
        padding: 0;
        min-height: px-to-rem(330);
    }

    @include respond-to('desktop') {
        min-height: px-to-rem(418);
    }
}
