@use '../abstracts' as abs;

.action-btn {
    @include abs.flex;

    color: abs.$color-gradient-start;

    &__icon {
        font-size: abs.$size-xl;
    }

    &__text {
        display: none;

        @include abs.respond-to('desktop') {
            display: inline;
            font-size: abs.$size-md;
        }
    }

    @include abs.respond-to('desktop') {
        gap: abs.to-rem(8px);
    }
}
