@use '../abstracts' as abs;

.brand {
    &__link {
        @include abs.flex($justify: flex-start);
    }

    &__logo-icon {
        font-size: abs.to-rem(40px);
    }

    &__title {
        display: none;
        font-family: abs.$font-brand;
        font-size: abs.to-rem(30px);
        font-weight: abs.$weight-regular;

        &--emphasis {
            font-weight: abs.$weight-bold;
        }

        @include abs.respond-to('tablet') {
            display: block;
            padding-top: abs.to-rem(8px);
            padding-left: abs.to-rem(10px);
        }
    }
}
