@use '../abstracts' as *;

.brand {
    &__link {
        @include flex($justify: flex-start);
    }

    &__logo-icon {
        font-size: px-to-rem(40);
    }

    &__title {
        display: none;
        font-family: $font-brand;
        font-size: px-to-rem(30);
        font-weight: $weight-regular;

        &--emphasis {
            font-weight: $weight-bold;
        }

        @include respond-to('tablet') {
            display: block;
            padding-top: px-to-rem(8);
            padding-left: px-to-rem(10);
        }
    }
}
