@use '../abstracts' as *;

.brand {
    &__link {
        @include flex($justify: flex-start);
    }

    &__logo-icon {
        font-size: to-rem(40px);
    }

    &__title {
        display: none;
        font-family: $font-brand;
        font-size: to-rem(30px);
        font-weight: $weight-regular;

        &--emphasis {
            font-weight: $weight-bold;
        }

        @include respond-to('tablet') {
            display: block;
            padding-top: to-rem(8px);
            padding-left: to-rem(10px);
        }
    }
}
