@use '../abstracts' as *;

.button {
    @include flex;

    padding: to-rem(16px) to-rem(24px);
    min-height: to-rem(53px);
    background-color: $color-text-secondary;
    color: $color-text-inverse;
    font-size: $size-sm;
    font-weight: $weight-bold;

    @include respond-to('tablet') {
        padding: to-rem(24px) to-rem(32px);
        font-size: $size-lg;
    }
}
