@use '../abstracts' as abs;

.nav-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: abs.to-rem(80px);
    height: abs.to-rem(80px);
    background-color: transparent;

    &.is-open {
        background: abs.$gradient-primary;

        .nav-toggle__icon::before {
            color: abs.$color-text-inverse;
        }
    }

    &__icon {
        font-size: abs.to-rem(36px);
    }

    @include abs.respond-to('tablet') {
        display: none;
    }
}
