@use './functions' as *;

// Breakpoints
$breakpoints: (
    'tablet': 1024px,
    'desktop': 1728px,
);

// Font Families
$font-main: 'Poppins', sans-serif;
$font-brand: 'Josefin Sans', sans-serif;

// Font Weights
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

// Text Colors
$color-text-primary: #000000;
$color-text-secondary: #eb9b00;
$color-text-inverse: #ffffff;

// Background Colors
$color-background-page: #ffffff;
$color-background-section: #ebecee;
$color-background-footer: #f9f9f9;

// Footer Colors
$color-footer-heading: #858585;
$color-footer-text: #474646;

// Gradient Colors
$color-gradient-start: #002f52;
$color-gradient-end: #326589;

// Other Colors
$color-border: #d9d9d9;
$color-carousel-dot: #c4c4c4;

// Gradient color
$gradient-primary: linear-gradient(
    97.54deg,
    $color-gradient-start 35.49%,
    $color-gradient-end 165.37%
);

// Font Sizes (Input as px, compiled to rem)
$size-xs: px-to-rem(12);
$size-sm: px-to-rem(14);
$size-base: px-to-rem(16);
$size-md: px-to-rem(20);
$size-lg: px-to-rem(24);
$size-xl: px-to-rem(32);
$size-xxl: px-to-rem(48);
