@use '../abstracts' as abs;

// Poppins Family Global UI
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// Josefin Sans Family (Brand Accents)
@font-face {
    font-family: 'Josefin Sans';
    src: url('/assets/fonts/josefin-sans-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Josefin Sans';
    src: url('/assets/fonts/josefin-sans-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// Setting global to Poppins
body {
    font-family: abs.$font-main;
    font-weight: abs.$weight-regular;
}
